[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uildArtifacts/

[Nn]u[Gg]et/
*.nupkg
nuget.exe
packages/

*.user
*.suo
*.userprefs
*.userosscache

*.bak
*.tmp
*.swp
*~

## Игнорировать результаты тестов
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Игнорировать файлы проектов VS
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.csproj.user

.idea/
*.sln.iml

.vscode/

*.cache
*.dotCover

coverage.xml
*.coverage
*.lcov

[Dd]ocker[Bb]uild/
docker-compose.*.yml

.azure/

_ReSharper.*/
*.ReSharper


.dotnet/
.history/

*.log
*.dmp

.vs/